<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/footer.css">
</head>
<body>
    <hr>
    <h3 style="margin-left: 30px;">You May Like</h3>
    <div id="he_footer_top">
      
    </div>

    <div id="he_footer_mid">
      <div id="he_upper_mid_div">
        <div>
          <a href="" class="h3_a_top">NATIONAL</a>
          <a href="">Politics</a><a href="">North and Central</a><a href="">South</a><a href="">East and Northeast</a><a href="">West</a>
        </div>
        <div>
          <a href="" class="h3_a_top">KARNATAKA</a>
          <a href="">Top Stories</a><a href="">Politics</a><a href="">Districts</a>
        </div>
        <div>
          <a href="" class="h3_a_top">BENGALURU</a>
          <a href="">Top Stories</a><a href="">Bengaluru Crime</a><a href="">Politics</a><a href="">Infrasturcture</a><a href="">Life in the City</a>
        </div>
        <div>
          <a href="" class="h3_a_top">SPORTS</a>
          <a href="">Cricket</a><a href="">Formula 1 with DH</a><a href="">Football</a><a href="">Tennis</a><a href="">Sportscene</a><a href="">Other Sports</a>
        </div>
        <div>
          <a href="" class="h3_a_top">BUSINESS</a>
          <a href="">Business News</a><a href="">Family Finance</a><a href="">Technology</a><a href="">DH Wheels</a>
        </div>
        <div>
          <a href="" class="h3_a_top">MULTIMEDIA</a>
          <a href="">Videos</a><a href="">Photos</a>
        </div>
        <div>
          <a href="" class="h3_a_top">OPINION</a>
          <a href="">DH Views</a><a href="">Editorials</a><a href="">Panorama</a><a href="">Comment</a><a href="">In Perspective</a><a href="">Right in the Middle</a>
        </div>
        <div>
          <a href="" class="h3_a_top">ENTERTAINMENT</a>
          <a href="">Entertainment</a><a href="">DH Showtime</a><a href="">DH Talkies</a><a href="">Arts, Books & Culture</a>
        </div>
      </div>
      <div id="he_lower_mid_div">
        <div>
          <div><a href="https://www.deccanherald.com/national/india-to-know-who-will-be-15th-president-on-july-21-1128519.html">INDIA'S 15TH PRESIDENT: MURMU OR SINHA?</a></div>
          <div><a href="https://www.deccanherald.com/science-and-environment/why-is-monkeypox-evolving-so-fast-1128546.html">MONKEYPOX EVOLVING FAST?</a></div>
          <div><a href="https://www.deccanherald.com/opinion/second-edit/for-lankans-ranil-is-not-the-real-deal-1128581.html">FOR LANKANS, RANIL IS NOT THE REAL DEAL</a></div>
          <div><a href="https://www.deccanherald.com/international/world-news-politics/rishi-sunak-to-face-liz-truss-in-final-leg-of-uk-pm-contest-1128522.html">UK PM RACE: IT'S SUNAK VS TRUSS</a></div>
        </div>
      </div>
    </div>
    <div id="he_footer_down">
      <div>
        <p>DH PICKS</p>
        <a href="https://www.deccanherald.com/national/national-politics/droupadi-murmu-leads-in-presidential-polls-with-378-lakh-votes-1128726.html">Murmu or Sinha, who'll be the Prez? India to know today</a><a href="https://www.deccanherald.com/opinion/up-anger-at-double-standards-against-corruption-bursts-forth-1128657.html">UP: 'Double standards' against corruption behind anger</a><a href="https://www.deccanherald.com/business/business-news/facebooks-growth-woes-in-india-too-much-nudity-not-enough-women-1128689.html">Too many men, nudity curbing Facebook's growth in India</a><a href="">Monkeypox: From beginnings in Africa to global spread</a><a href="">TMC’s annual show of might rooted in Cong's tragic loss</a>
      </div>
      <div>
        <p>LATEST STORIES</p>
        <a href="">Erosion in 34% of nation's coastline worries activists</a><a href="">Accenture launches advanced tech centre in Coimbatore</a><a href="">India eyes badminton mixed team gold at CWG
          MMR to see fierce contest in polls</a><a href="">ED grills Sonia as Congress workers face water cannons</a>
      </div>
      <div>
        <p>TRENDING NEWS</p>
        <a href="https://www.deccanherald.com/city/top-bengaluru-stories/with-body-cam-turned-off-bengaluru-traffic-cop-in-soup-for-stopping-rider-1128308.html">Bengaluru traffic cop stops rider with body cam off</a><a href="https://www.deccanherald.com/city/top-bengaluru-stories/hoax-bomb-threat-at-private-school-in-bengaluru-triggers-panic-1127680.html">Hoax bomb threat at Bengaluru school triggers panic</a><a href="https://www.deccanherald.com/state/karnataka-districts/1000-year-old-chola-temple-in-k-taka-missing-ex-tn-police-officer-1126749.html">'1,000-year-old Chola temple in Karnataka missing'</a><a href="https://www.deccanherald.com/city/top-bengaluru-stories/water-quality-dips-dangerously-in-parts-of-bengaluru-1128290.html">Water quality dips dangerously in parts of Bengaluru</a>
      </div>
      <div id="he_details">
        <p>DOWNLOAD DH APP</p>
        <div>
          <img src="https://www.deccanherald.com/sites/deccanherald.com/modules/dynamicfooter/images/android.svg" alt="">
          <img src="https://www.deccanherald.com/sites/deccanherald.com/modules/dynamicfooter/images/ios.svg" alt="">
      </div>
      <p> SERVICES</p>
      <div>
        <a href="https://printersmysore.com/">About</a><a href="https://www.deccanherald.com/archives">Epaper</a><a href="https://www.deccanherald.com/archives">Archives</a><a href="https://www.deccanherald.com/sitemap">Sitemap</a>
      </div>
      <div><a href="https://dhclassifieds.com/deccanonline/">Classified</a><a href="https://printersmysore.com/contact">Contact</a></div>
      <p>OUR GROUP SITES</p>
      <div>
        <a href="https://printersmysore.com/">Printer</a><a href="https://www.prajavani.net/">Prajavani</a><a href="http://sudhaezine.com/">Sudha Mayura</a><a href=""></a>
      </div>
    </div>
    </div>
    <div id="he_footer_last">
      <div>© 2022 The Printers (Mysore) Private Ltd.</div>
      <div>
        <a href="https://www.youtube.com/channel/UCHDXXHPrz-1GVbK_qk82hBQ"><img src="https://www.deccanherald.com/sites/deccanherald.com/modules/dynamicfooter/images/youtube-white.svg" alt=""></a>
        <a href="https://twitter.com/deccanherald"><img src="https://www.deccanherald.com/sites/deccanherald.com/modules/dynamicfooter/images/twit-white.svg" alt=""></a>
        <a href="https://www.facebook.com/deccanherald/"><img src="https://www.deccanherald.com/sites/deccanherald.com/modules/dynamicfooter/images/fb-white.svg" alt=""></a>
        <a href="https://www.instagram.com/deccanherald/"><img src="https://www.deccanherald.com/sites/deccanherald.com/modules/dynamicfooter/images/insta-white.svg" alt=""></a>
      </div>
    </div>
</body>
</html>

<script>
    let data=[
    {
      Img: "https://kettocdn.gumlet.io/media/campaignuploads/aca8d7cebbb3e517b04e66b033492af8ceca4de1.jpg?w=576&dpr=1.0",
      Desc: "Please Don't Let Heart Disease Take My Another Child's Life. Help"
    },
    {
      Img: "https://static.pbcdn.in/health-cdn/images/prelead/images/offer/senior-citizen.webp",
      Desc: " ₹5 Lac Senior Citizen Health Policy | Starting @ ₹1097/M*"
    },
    {
      Img: "https://d3drajoq5gm85y.cloudfront.net/wp-content/uploads/2021/03/23055257/Find-Out-Which-US-States-People-Want-To-Leave-And-The-Ones-They-Move-To.jpg",
      Desc: "States That Will Be Basically Empty By 2023"
    },
    {
        Img:"https://www.deccanherald.com/sites/dh/files/styles/largevertical/public/articleimages/2022/07/20/athens-wildfire-1128411-1658312436.jpg?itok=77Pbi1sm",
        Desc:"Wildfire rages near Athens as Britain endures record temperature..."
    }
    ]

    let footer_top=(data)=>{
        let container=document.getElementById('he_footer_top')
        data.forEach((el)=>{
            let div=document.createElement('div')
            let img=document.createElement('img')
            img.src=el.Img
            let text=document.createElement('h4')
            text.innerText=el.Desc
            div.append(img,text)
            container.append(div)
        })
    }
    footer_top(data)

</script>