<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/navbar.css">
</head>
<body>
    <div id="he_nav">

        <div id="he_navtop">
            <div class="he_topnav">
            <div>
                <img src="https://www.deccanherald.com/sites/deccanherald.com/themes/deccanherald/images/logo/d-logo-new.svg" id="he_img">
            </div>
            <div>
                <p id="show_time"></p>
            </div>
            <div>
                <a href="">E-PAPER</a>
            </div>
            <div>
                <a href="">CLASSIFIEDS</a>
            </div>
        </div>
      
        <div class="he_topnav" id="gg">
            <div>
               <img src="https://www.deccanherald.com/sites/deccanherald.com/themes/deccanherald/images/icons/weather/04d.svg" alt="" class="he_logo"> BLR 29 ° C Clouds
            </div>
            <div>
                Sensex: 55522.57+754.95 <img src="https://www.deccanherald.com/sites/deccanherald.com/themes/deccanherald/images/icons/up-arrow.svg" alt="" class="he_logo">
            </div>
            <div>
                Nifty: 16554.65+214.1 <img src="https://www.deccanherald.com/sites/deccanherald.com/themes/deccanherald/images/icons/up-arrow.svg" alt="" class="he_logo">
            </div>
            <div>
                <a href="https://www.facebook.com/deccanherald"><img src="https://www.deccanherald.com/sites/deccanherald.com/themes/deccanherald/images/icons/fb-nav.svg" alt="" class="he_logo1"></a>
                <a href="https://twitter.com/deccanherald"><img src="https://www.deccanherald.com/sites/deccanherald.com/themes/deccanherald/images/icons/twitter-nav.svg" alt="" class="he_logo1"></a>
                <a href="https://www.instagram.com/deccanherald/"><img src="https://www.deccanherald.com/sites/deccanherald.com/themes/deccanherald/images/icons/ig-nav.svg" alt="" class="he_logo1"></a>
            </div>
        </div>
        </div>
    </div>
    <input type="checkbox" id="opensidebar">
    <label for="opensidebar" class="sidebartoggle">
        <div class="spin top"></div>
        <div class="spin mid"></div>
        <div class="spin bottom"></div>
    </label>
    <div id="sidebar">
        <div class="he_menu">
        <div><a href="">Home</a></div>
        <div><a href="">Bengaluru</a></div>
        <div><a href="">Karnataka</a></div>
        <div><a href="">National</a></div>
        <div><a href="">sports</a></div>
        <div><a href="">Business</a></div>
        <div><a href="">Opinion</a></div>
        <div><a href="">Feature</a></div>
        <div><a href="">Videos</a></div>
        <div><a href="">Specials</a></div>
        <div><a href="">Brandspot</a></div>
   </div>
</div>
</div>
    <div id="he_midnav">
       <div class="he_midnav1">
        <div>
            <a href="">Home</a>
        </div>
        <div>
            <a href="">Bengaluru</a>
            <div>
                <div>
                    <a href="">top</a>
                </div>
                <div>
                    <a href="">mid</a>
                </div>
                <div>
                    <a href="">bottom</a>
                </div>
            </div>
        </div>
        <div>
            <a href="">Karnataka</a>
            <div>
                <div>
                    <a href="">top</a>
                </div>
                <div>
                    <a href="">mid</a>
                </div>
                <div>
                    <a href="">bottom</a>
                </div>
            </div>
        </div>
        <div>
            <a href="">National</a>
            <div>
                <div>
                    <a href="">top</a>
                </div>
                <div>
                    <a href="">mid</a>
                </div>
                <div>
                    <a href="">bottom</a>
                </div>
            </div>
        </div>
        <div>
           <a href="">Sports</a>
           <div>
            <div>
                <a href="">top</a>
            </div>
            <div>
                <a href="">mid</a>
            </div>
            <div>
                <a href="">bottom</a>
            </div>
        </div>
        </div>
        <div>
            <a href="">Business</a>
            <div>
                <div>
                    <a href="">top</a>
                </div>
                <div>
                    <a href="">mid</a>
                </div>
                <div>
                    <a href="">bottom</a>
                </div>
            </div>
        </div>
        <div>
            <a href="">Opinion</a>
            <div>
                <div>
                    <a href="">top</a>
                </div>
                <div>
                    <a href="">mid</a>
                </div>
                <div>
                    <a href="">bottom</a>
                </div>
            </div>
        </div>
        <div>
            <a href="">Feature</a>
            <div>
                <div>
                    <a href="">top</a>
                </div>
                <div>
                    <a href="">mid</a>
                </div>
                <div>
                    <a href="">bottom</a>
                </div>
            </div>
        </div>
        <div>
            <a href="">Videos</a>
            <div>
                <div>
                    <a href="">top</a>
                </div>
                <div>
                    <a href="">mid</a>
                </div>
                <div>
                    <a href="">bottom</a>
                </div>
            </div>
        </div>
        <div>
            <a href="">Specials</a>
            <div>
                <div>
                    <a href="">top</a>
                </div>
                <div>
                    <a href="">mid</a>
                </div>
                <div>
                    <a href="">bottom</a>
                </div>
            </div>
        </div>
        <div>
            <a href="">Brandspot</a>
        </div>
       </div>
        <div id="he_search_logo">
            <img src="https://www.deccanherald.com/sites/deccanherald.com/themes/deccanherald/images/icons/search-new.svg" alt="">
        </div>
    </div>
    <div id="he_lowernav">
        <div>
            IN BRIEF:   
        </div>
        <div>
           <a href="https://www.deccanherald.com/entertainment/saif-has-already-contributed-enough-to-indias-population-kareena-on-pregnancy-rumours-1128392.html"> Kareena slams pregnancy rumors</a>
        </div>
        <div>
           <a href="https://www.deccanherald.com/national/north-and-central/india-cuts-windfall-tax-on-diesel-aviation-fuel-shipments-1128338.html">India cuts windfall tax</a>
        </div>
        <div>
           <a href="https://www.deccanherald.com/international/world-news-politics/uk-inflation-hits-fresh-40-year-high-1128381.html">UK inflation hits 40-year high</a> 
        </div>
        <div>
            <a href="https://www.deccanherald.com/business/business-news/rupee-breaches-80-mark-to-touch-new-low-what-it-means-for-you-1128255.html">What rupee at 80 means for you</a>
        </div>
        <div>
            <a href="https://www.deccanherald.com/city/top-bengaluru-stories/water-quality-dips-dangerously-in-parts-of-bengaluru-1128290.html">Bengaluru water quality dips</a>
        </div>
        <div>
            <a href="https://www.deccanherald.com/international/world-news-politics/final-two-candidates-for-uk-pm-to-be-decided-1128189.html">
                UK PM race: Sunak nears finish</a>
        </div>
    </div>



    
</body>
</html>

<script>
    function date(){
   let datee= document.getElementById('show_time').innerHTML=Date()
}
    date()
</script>

 