*{
    margin: 0px;
    padding: 0px;
}
#he_footer_top{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 250px;
    gap: 20px;
    padding:10px 30px;
}
#he_footer_top img{
    width: 100%;
    height: 200px;
}
hr{
    color: grey;
    width: 95%;
    margin: auto;
}
#he_upper_mid_div{
    display: flex;
    padding: 30px;
    /* gap */
}
#he_upper_mid_div>div{
    display: flex;
    width: 180px;
    flex-direction: column;
    gap: 3px;
}
#he_upper_mid_div a{
    text-decoration: none;
    font-size: 14px;
}