*{
    /* padding: 0px;
    margin: 0px; */
    font-family: "Source Sans Pro",sans-serif;
}

#he_navtop{
    display: flex;
    gap: 130px;
    justify-content: space-between;
    padding: 4px 30px;    
}
.he_topnav{
    display: flex;
    gap: 10PX;
    align-items: baseline;
}
.he_topnav>div{
    display: flex;
    font-size: 10px;
    color: grey;
    align-items: flex-end;
}
#he_img{
    width: 150px;
    height: 114px;
}
.he_logo{
    width: 20px;
    height: 13px;
}
#gg{
    align-items: flex-end;
}
#gg>div{
    font-size: 10px;
}
#he_navtop a{
    text-decoration: none;
    font-weight: bold;
    color: grey ;
    font-size: 9px;
}
.he_logo1{
    width: 25px;
    height: 15px;
}
#he_nav{
     margin: auto;
}
/* midnav */
#he_midnav{
    display: flex;
    justify-content: space-between;
    height: 30PX;
    padding-left: 50px;
    background-color: #0087a8;
}
.he_midnav1{
    display: flex;
}
.he_midnav1>div{
    padding: 9px 9px;
    gap: 15px;
    position: relative;
}
.he_midnav1>div:hover{
    background-color: #026c86;
    transition: all 0.3s;
}
#he_midnav a{
    text-decoration: none;
    color: white;
    font-size: 14px;
}
#he_search_logo{
background: url(/sites/deccanherald.com/themes/deccanherald/images/icons/search-new.svg) center top no-repeat;
height: 18px;
width: 18px;
background-size: 16px 16px;
opacity: 1;
display: flex;
cursor: pointer;
margin-right: 100px;
align-self: center;
}
#he_lowernav{
    border-bottom: 1px solid #0087a8;
    display: flex;
    font-size: 12px;
    gap: 30px;
    padding: 5px 30px;
    margin-bottom: 30px;
}
#he_lowernav a{
    text-decoration: none;
    color: black
}
#he_lowernav>div:first-child{
    color: #0087a8;
    font-weight: bold;
}
.he_midnav1>div>div>a{
    color: black;
}
.he_midnav1>div>div{
    display: none;
    position: absolute;
    margin-top: 5px;
    width:150px ; 
}
.he_midnav1>div:hover>div{
    display: block;
    transition: all 0.5s;
}
.he_midnav1>div>div>div{
    padding: 7px 15px;
    background-color: #0087a8;
    border-bottom: 1px solid #026c86;
}
.he_midnav1>div>div>div:hover{
    background-color: #026c86;
    cursor: pointer;
    transition: all 0.4s;
}
/* sidebar */
#opensidebar{
    position: absolute;
    left: 20px;
}
#sidebar{
    margin-top: 55px;
    width: 250px;
    height: 600px;
    position: absolute;
    background-color:#0087a8;
    text-transform: uppercase;
    overflow: scroll;
    transform: translateX(-250px);
    transition: transform 250ms ease-in-out;
}
#sidebar a{
    text-decoration: none;
    color: white;
}
  /* hide scroll bar */
::-webkit-scrollbar {
    width: 1px;
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    margin-top: 20px;
    margin-bottom: 20px;
    
  }

  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
.he_menu>div{
    border-bottom: 1px solid #026c86;
    padding: 25px;
    font-size: 15px;
    color: white;
    font-weight: bold;
}
/*  */
#opensidebar:checked ~ #sidebar{
    transform: translateX(0px);
}
input#opensidebar{
    display: none;
}
.sidebartoggle{
    position: absolute;
    height: 24px;
    width: 20px;
    border-right: 1px solid white;
    padding: 3px;
    left: 20px;
}
.sidebartoggle:hover>.spin{
    width: 100%;
    cursor: pointer;
}
.spin{
    height: 3px;
    background-color: white;
    transition: all 0.3s;
}
.top{
    margin-top:2px ;
    margin-bottom:2px ;
    width: 40%;
}
.mid{
    margin-bottom:2px ;
    width: 70%;
}
.bottom{
    margin-bottom:3px ;
    width: 100%;
}
#opensidebar:checked~.sidebartoggle>.top{
    opacity: 0;
}
#opensidebar:checked~.sidebartoggle>.mid{
    transform: rotate(135deg);
    margin-top: 4px;
    width: 100%;
}
#opensidebar:checked~.sidebartoggle>.bottom{
    transform: rotate(-135deg);
    margin-top: -5px;
    width: 100%;
}   
#he_user{
    position: absolute;
    right: 10px;
    top: 0px;
    color: #0087a8;
    display: flex;
    gap:20px;
    /* flex-direction: column; */
}
#he_search{
    margin-top:6px ;
    border-radius: 20px;
    width: 250px;
    border: none;
}

#he_login_button{
    width: 70px;
    background-color: #0087a8;
    border-radius: 10px;
    border:none;
    height: 30px;
    margin-top: 10px;
    padding: 4px;
}
#he_login_button>a{
    
    font-size: 14px;
    color:white;
}