*{
    padding: 0px;
    margin: 0px;
    font-family: "Source Sans Pro",sans-serif;
}
#he_navtop{
    /* border: 1px solid; */
    display: flex;
    gap: 130px;
    justify-content: space-between;
    padding: 4px 30px;    
}
.he_topnav{
    /* border: 1px solid pink; */
    display: flex;
    gap: 10PX;
    align-items: baseline;
}
.he_topnav>div{
    display: flex;
    font-size: 10px;
    color: grey;
    align-items: flex-end;
}
#he_img{
    width: 150px;
    height: 114px;
}
.he_logo{
    width: 20px;
    height: 13px;
}
#gg{
    align-items: flex-end;
}
#gg>div{
    font-size: 10px;
}
#he_navtop a{
    text-decoration: none;
    font-weight: bold;
    color: grey ;
    font-size: 9px;
}
.he_logo1{
    width: 25px;
    height: 15px;
}
#he_nav{
    width: fit-content;
     margin: auto;
}
/* midnav */
#he_midnav{
    /* border: 1px solid; */
    display: flex;
    justify-content: space-between;
    height: 30PX;
    background-color: #0087a8;
}
.he_midnav1{
    display: flex;
}
.he_midnav1>div{
    padding: 9px 9px;
    /* display: flex; */
    gap: 15px;
    position: relative;

}
.he_midnav1>div:hover{
    background-color: #026c86;
    transition: all 0.3s;
}

#he_midnav a{
    text-decoration: none;
    color: white;
    font-size: 14px;
}
#he_search_logo{
background: url(/sites/deccanherald.com/themes/deccanherald/images/icons/search-new.svg) center top no-repeat;
height: 18px;
width: 18px;
background-size: 16px 16px;
opacity: 1;
display: flex;
margin-right: 100px;
align-self: center;
}
#he_lowernav{
    border-bottom: 1px solid #0087a8;
    display: flex;
    font-size: 12px;
    gap: 30px;
    padding: 5px 30px;
}
#he_lowernav a{
    text-decoration: none;
    color: black
}
#he_lowernav>div:first-child{
    color: #0087a8;
    font-weight: bold;
}
.he_midnav1>div>div>a{
    color: black;
}
.he_midnav1>div>div{
    display: none;
    position: absolute;
    /* border: 1px solid; */
    width:150px ; 
}
.he_midnav1>div:hover>div{
    display: block;
    transition: all 0.5s;
}
.he_midnav1>div>div>div{
    padding: 7px 15px;
    background-color: #0087a8;
    border-bottom: 1px solid #026c86;
}
.he_midnav1>div>div>div:hover{
    background-color: #026c86;
    cursor: pointer;

    transition: all 0.4s;
}